<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{/layout.html}">
<head></head>
<body>
    <section class="mid">
        <div class="contents" layout:fragment="contents">
            <div>
                <nav class="job-help">
                    <div class="job-type"><button>job types</button></div>
                    <div class="add-job"><a href="/add-job"><button>add job</button></a></div>
                    <div class="job-search"><form action="/search" method="get">
                        <input type="search" name="search" id="search">
                        <input type="submit" value="&#x1F50E">
                    </form></div>
                </nav>
            </div>
            <div class="jobs-container">
                <div></div>
                <div class="jobs-main-contant">
                    <section class="jobsList">
                        <h2>JOBS</h2>
                        <p id="jobs" th:if="${#lists.isEmpty(jobs)}">NO JOBS AVAILABLE</p>

                        <div id="jobs" th:unless="${#lists.isEmpty(jobs)}">
                            <th:div class="jobs" th:each="job,iterStat: ${jobs}">
                                <label><h2>Position</h2></label>
                                <div >
                                    <p th:text="${job.getPosition()}"></p>
                                </div>
                                <label><h2>Area</h2></label>
                                <div>
                                    <p th:text="${job.getArea()}"></p>
                                </div>
                                <label><h2>Job Type</h2></label>
                                <div>
                                    <p th:text="${job.getJobtype()}"></p>
                                </div>
                                <label><h2>Job Description</h2></label>
                                <div class="Description">
                                    <div class="Container">
                                        <p th:text="${job.getJobDescription()}"></p>
                                    </div>
                                </div>
                                <label><h2>Responsibilities</h2></label>
                                <div>
                                    <p th:text="${job.getResponsibilities()}"></p>
                                </div>
                                <label><h2>Qualifications</h2></label>
                                <div>
                                    <p th:text="${job.getQualifications()}"></p>
                                </div>
                                <label><h2>Benefits</h2></label>
                                <div>
                                    <p th:text="${job.getBenefits()}"></p>
                                </div>
                                <label><h2>Start Date</h2></label>
                                <div>
                                    <p th:text="${job.getStartDate()}"></p>
                                </div>
                                <label><h2>End Date</h2></label>
                                <div>
                                    <p th:text="${job.getEndDate()}"></p>
                                </div>
                                <label><h2>Application Type</h2></label>
                                <div>
                                    <p th:text="${job.getApplicationtype()}"></p>
                                </div>
                                <label><h2>Contact</h2></label>
                                <div>
                                    <p th:text="${job.getContact()}"></p>
                                </div>
                                <div class="separator">
                                    <br>
                                </div>
                            </th:div>
                        </div>
                    </section>
                </div>
                <div></div>
            </div>
        <h1>TODO: fix to view for jobs</h1>
        </div>
    </section>
</body>
</html>